
.container2 {
            text-align: center;
            background-color: #ffffff;
            padding: 40px;
        }
        .container2 h1 {
            color: #333;
            font-size: 24px;
        }
        .container2 p {
            color: #666;
            font-size: 18px;
            margin: 10px 0;
        }
        .container2 .home-button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
        }
        .container2 .home-button:hover {
            background-color: #45a049;
        }
.head_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}