files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream django {
        server 127.0.0.1:8000;
        keepalive 60;
      }
      
      server {
        listen 80;
        server_name _ localhost;
        
        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
            set $year $1;
            set $month $2;
            set $day $3;
            set $hour $4;
        }
        
        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
        
        location / {
          proxy_pass http://django;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        
        location /static/ {
          alias /var/app/current/static/;
        }
      }
      
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_collect_static.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /var/app/venv/*/bin/activate
      cd /var/app/current
      python manage.py collectstatic --noinput

  "/opt/elasticbeanstalk/hooks/appdeploy/post/98_django_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /var/app/venv/*/bin/activate
      cd /var/app/current
      python manage.py migrate --noinput