option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "expense_tracker.wsgi:application"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: expense_tracker.settings
    PYTHONPATH: "/var/app/current/expense_tracker"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_collectstatic:
    command: "cd expense_tracker && python manage.py collectstatic --noinput"
  02_maigration:
    command: "cd expense_tracker && python manage.py makemigrations --noinput"
  03_migrate:
    command: "cd expense_tracker && python manage.py migrate --noinput"