option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "expense_tracker.wsgi:application"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: expense_tracker.settings
    PYTHONPATH: "/var/app/current/expense_tracker"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: expense_tracker/static
container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && cd expense_tracker && python manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && cd expense_tracker && python manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && cd expense_tracker && python manage.py collectstatic --noinput"
  04_createsu:
    command: "source /var/app/venv/*/bin/activate && cd expense_tracker && python manage.py createsu"
    leader_only: true